<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
</head>

<body>
    <h1>Signup</h1>
    <form method="POST" action="/">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required><br><br>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required><br><br>

        <label for="role">Role:</label>
        <select name="role" id="role" required>
            <option value="Admin">Admin</option>
            <option value="Store Manager">Store Manager</option>
            <option value="Counter Staff">Counter Staff</option>
        </select><br><br>

        <input type="submit" value="Register">
    </form>
</body>

</html>
